{% extends 'base.html' %}
{% load piroute_helpers %}

{% block active-nav %}status{% endblock %}
{% block title %}PiRoute &mdash; System Status{% endblock %}
{% block header %}PiRoute &mdash; System Status{% endblock %}

{% block content %}
PiRoute running on {{ name }}
<br><br>

<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">Load</div>
			<div class="panel-body">
				<div class="progress-group">
					{% for loadbar in load %}
					<div class="progress">
						<div class="progress-bar"
							aria-valuenow="{{ loadbar.1 }}"
							aria-valuemin="0"
							aria-valuemax="125">
							{{ loadbar.1 }}%
						</div>
					</div>
					{% endfor %}
				</div>
				Load: {{ load.0.0 }} {{ load.1.0 }} {{ load.2.0 }}
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">Memory</div>
			<div class="panel-body">
				<div class="progress-group">
					Physical
					<div class="progress">
						<div class="progress-bar"
							aria-valuenow="{{ memory.percentused }}"
							aria-valuemin="0"
							aria-valuemax="100">
							{{ memory.percentused }}%
						</div>
						<div class="progress-bar progress-bar-info"
							aria-valuenow="{{ memory.percentbuffers }}"
							aria-valuemin="0"
							aria-valuemax="100">
							{{ memory.percentbuffers }}%
						</div>
					</div>
					Swap
					<div class="progress">
						<div class="progress-bar"
							aria-valuenow="{{ memory.percentswapused }}"
							aria-valuemin="0"
							aria-valuemax="100">
							{{ memory.percentswapused }}%
						</div>
					</div>
				</div>
				{{ memory.used|format_bytes }} ({{ memory.percentused }}%) used of {{ memory.total|format_bytes }},
				with {{ memory.buffers|format_bytes }} ({{ memory.percentbuffers }}%) buffered.<br>
				{{ memory.swapused|format_bytes }} ({{ memory.percentswapused }}%) used of {{ memory.swaptotal|format_bytes }} swap.
				{% comment %}
				<div style="display:inline-block;min-width:48%;">Used: {{ memory.used|format_bytes }} ({{ memory.percentused }}%)</div>
				<div style="display:inline-block;min-width:48%;">Buffers: {{ memory.buffers|format_bytes }} ({{ memory.percentbuffers }}%)</div>
				<div style="display:inline-block;min-width:48%;">Free: {{ memory.free|format_bytes }} ({{ memory.percentfree }}%)</div>
				<div style="display:inline-block;min-width:48%;">Total: {{ memory.total|format_bytes }} (100%)</div>
				{% endcomment %}
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">Disk</div>
			<div class="panel-body">
				<div class="progress-group">
					{% for disk in disks %}
					<code>{{ disk.mountpoint }}</code>: {{ disk.used|format_bytes }} used of {{ disk.total|format_bytes }}
					<div class="progress">
						<div class="progress-bar"
							aria-valuenow="{{ disk.percentused }}"
							aria-valuemin="0"
							aria-valuemax="100">
							{{ disk.percentused }}%
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
