{% extends 'base.html' %}
{% load piroute_helpers %}

{% block active-nav %}status{% endblock %}
{% block title %}PiRoute &mdash; System Status{% endblock %}
{% block header %}PiRoute &mdash; System Status{% endblock %}

{% block content %}
PiRoute running on {{ name }}
<br><br>
Load: {{ load.0 }} {{ load.1 }} {{ load.2 }}
<br><br>

<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">Memory</div>
			<div class="panel-body">
				Using {{ memory.used|format_bytes }} of {{ memory.total|format_bytes }}
				<div class="progress">
					<div class="progress-bar" role="progressbar"
						aria-valuenow="{{ memory.percentused }}"
						aria-valuemin="0"
						aria-valuemax="100">
						{{ memory.percentused }}%
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">Disk</div>
			<div class="panel-body">
				Using {{ disk.used|format_bytes }} of {{ disk.total|format_bytes }}
				<div class="progress">
					<div class="progress-bar" role="progressbar"
						aria-valuenow="{{ disk.percentused }}"
						aria-valuemin="0"
						aria-valuemax="100">
						{{ disk.percentused }}%
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
