{% extends 'base.html' %}
{% load piroute_helpers %}

{% block active-nav %}networks{% endblock %}
{% block title %}PiRoute &mdash; Networks{% endblock %}
{% block header %}PiRoute &mdash; Networks{% endblock %}

{% block content %}
<table class="table table-bordered table-condensed">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Interface</th>
		<th>IP Range</th>
		<th>Policy</th>
	</tr>
	<tr>
		<td>1</td>
		<td><input class="form-control" type="text" value="Internal"></td>
		<td>
			<select class="form-control">
				<option>eth0</option>
				<option selected>eth1</option>
				<option>eth2</option>
				<option>Other...</option>
			</select>
		</td>
		<td><input class="form-control" type="text" value="172.16.0.0/16"></td>
		<td>
			<select class="form-control">
				<option selected>Reject</option>
				<option>Ignore</option>
				<option>Accept</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>2</td>
		<td><input class="form-control" type="text" value="External"></td>
		<td>
			<select class="form-control">
				<option>eth0</option>
				<option>eth1</option>
				<option selected>eth2</option>
				<option>Other...</option>
			</select>
		</td>
		<td><input class="form-control" type="text" value="0.0.0.0/0"></td>
		<td>
			<select class="form-control">
				<option>Reject</option>
				<option selected>Ignore</option>
				<option>Accept</option>
			</select>
		</td>
	</tr>
</table>
{% endblock content %}
