<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{# The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags #}
<title>{% block title %}PiRoute{% endblock %}</title>
{% load static %}
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet">
<link href="{% static 'css/piroute.css' %}" rel="stylesheet">
<link href="{% static 'css/lcars-theme.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery-2.2.0.min.js' %}" defer></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" defer></script>
<script src="{% static 'js/firewall.js' %}" defer></script>
</head>
<body data-active-nav="{% block active-nav %}none{% endblock %}">
<div class="lcars-top">
	{% include 'navbar.html' %}
</div>
<div class="lcars-bottom">
<div class="container">
	<h1>{% block header %}Welcome to PiRoute{% endblock %}</h1>
	{% block content %}
	{% endblock %}
</div>
</div>
</body>
</html>
